// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#expenses_table, #revenues_table  {
	     position: relative;
	     float: left;
	     width: 50%;
	     
}

.table_row {
	    line-height: 25px;
	    margin: 1px;
}

.table_data {
	     display: inline-block;
	     line-height: 20px;
	     position: relative;
	     text-align: center;
	     padding: 3px 20px;
	     
}	     

.date_data {
	     width: 200px;
	     text-align: left;
}
.category_data {
	     margin-right: 10px;
}
.value_data {
	     float: right;
	     
}	     	

#total_expenses {
	     background: #2B2B2B;	    
	color: #F2EFE4;  
	line-height: 30px;
	font-weight: bold;
	margin-bottom: 20px;
}

#total_expenses div {
	     display: inline-block;
	     padding: 0 20px;
}
.total_value {
	      position: relative;
	      float: right;
	      
}


.table_form {
	    position: relative;
	    float: right;
}

.table_row_header {
	cursor: pointer;
	background: #2B2B2B;	    
	color: #F2EFE4;
}
.table_row_description {
		display:none;
		min-height: 70px;
}
.links_data {
	     position: relative;
	     float: right;
	     margin: 0 10px;
	     text-align: center;
	     display: inline-block;
	     width: 15%;
}

.description{
	 display: inline-block;
	 width: 80%;
}


.group:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */


.menu {
      width: 150px;
      text-align: center;
}

#tabs {
     position: relative;
     float: both;
     width: 80%;
     margin: auto;
     font-size: small;
     min-height: 520px;
     padding: 20px 0;
     }

body {
     background: #808CE9;
     
}

.menu_wrapper, .menu_link_wrapper {
	      display: inline-block;
}

#expense_category_form {
			  position: relative;
			  margin: 3px auto;
			  display: none;
			  width: 300px;
			  height: 100px;
			  background: #FFF;
			  border: 2px solid black;
			  
}

#expense_category_form input[type=text] {
			  position: absolute;
			  margin: 10px -110px;
			  
			  
}

#expense_category_form input[type="submit"] {
			  position: absolute;
			  margin: 30px -50px;
}

#expense_category_form a {
			  position: absolute;
                       margin: 60px 0 0 135px;	     
			  
			  
}

