// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#expenses_table, #revenues_table  {
	     position: absolute;
	     left: 30px;
	     top: 80px;
	     width: 540px;
	     
}

.table_row {
	    line-height: 25px;
	    margin: 1px;
	    
}

.table_data {
	     display: inline-block;
	     line-height: 20px;
	     position: relative;
	     text-align: center;
	     padding: 3px 20px;
	     
}	     

.date_data {
	     width: 200px;
	     text-align: left;
}
.category_data {
	     margin-right: 10px;
}
.value_data {
	     float: right;
	     
}	     	

#total_expenses {
	     background: #2B2B2B;	    
	color: #F2EFE4;  
	line-height: 30px;
	font-weight: bold;
	margin-bottom: 20px;
	border-radius: 5px;
}

#total_expenses div {
	     display: inline-block;
	     padding: 0 20px;
}
.total_value {
	      position: relative;
	      float: right;
	      
}


.table_form {
	    position: absolute;
	    border: 2px solid black;
	    border-radius: 5px;
	    padding: 10px;
	    width: 40%;
	    background: #FFF;
	    z-index: 5;
}

.table_form label {
	    font-weight: bold;
}

#table_expenses_form {
			left: 101%;
	    
}
#expense_edit_form {
			left: 57%;
	    		display: none;
}


.table_form_handle {
		     position: absolute;
		     width: 90px;
		     height: 36px;
		     background: #62605c;
		     color: #E95;
		     border-radius: 15px;
		     right: -2%;
		     font-weight: bold;
		     padding: 5px 12px 5px 0;
		     line-height: 18px;
		     text-align: center;
}		     

#category_handle {
		   top: 23%;
}



.filter {
	 margin: 30px;
	 padding: 10px;
	 border: 2px solid black;
	 border-radius: 5px;
	 width: 30%;
	 position: absolute;
	 left: 580px;
	 clear: both;
}

.filter label {
	 font-weight: bold;
}

#custom_date_expense_fields {
				display: none;      
}
.filter input {
	 
}


.table_row_header {
	cursor: pointer;
	background: #2B2B2B;	    
	color: #F2EFE4;
	border-radius: 3px;
}
.table_row_description {
		display:none;
		min-height: 50px;
}
.links_data {
	     position: relative;
	     float: right;
	     margin: 0 10px;
	     text-align: center;
	     width: 15%;
}

.description{
	 width: 80%;
}


.group:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */


.menu {
      width: 150px;
      text-align: center;
}

#tabs {
     position: absolute;
     width: 1080px;
     left: 40px;
     font-size: small;
     min-height: 520px;
     padding: 20px 0;
     
     }

.filler{
	 position: absolute;
	 left: 100.2%;
	 top: -10px;
	 background: #62605c;
	 width: 50%;
	 height: 500px;
	 z-index: 100;
	 
}
body {
     background: #62605c;
     overflow-y: scroll;
     overflow-x: hidden;
}

.menu_wrapper, .menu_link_wrapper {
	      display: inline-block;
}

#expense_category_form {
			  position: absolute;
			  left: 102%;
			  width: 300px;
			  height: 100px;
			  background: #FFF;
			  border: 2px solid black;
			  border-radius: 5px;
}

#expense_category_form input[type=text] {
			  position: relative;
			  margin: 10px 35px;
			  border-radius: 3px;
			  
}

#expense_category_form input[type="submit"] {
			  position: relative;
			  margin: 0px 95px;
}

#expense_category_form a {
			  display: block;
			  position: relative;
                       margin: 10px 135px;	     
			  
			  
}

