<section>
<table>
  <% @transactions.each do |t| %>
  <% if t.id != nil %>
  <tr><td><%= t.value %></td><td><%= t.date %></td><td><%= t.category %></td></tr>
  <% end %>
  <% end %>
 </table>
</section>

<section>

<%= render "form" %>
</section>
